---
import Layout from '../layouts/Layout.astro';
---
<Layout title="Join our team | Tigmo">
<header class="header">
    <div class="header-content">
        <img class="custom-logo" src="https://media.tigmo.com.au/app/uploads/2021/01/tigmo-logo-blue.png?strip=all&lossy=1&ssl=1&fit=160,62" alt="Tigmo Logo">
        <h1>Join our team</h1>
        <nav>
            <img class="menu-icon" src="https://media.tigmo.com.au/app/themes/tigmo-wp/images/menu.svg" alt="Menu Icon">
        </nav>
    </div>
</header>
<main class="main-content">
    <section class="intro-section">
        <div class="text-area">
            <h3>Looking for your next job?</h3>
            <p>Tigmo are looking for talented website developers with skills across both front and back end development.</p>
            <p>If you are looking for an exciting new role with a team of hard working experts please contact us at:</p>
            <p><a href="mailto:hello@tigmo.com.au">hello@tigmo.com.au</a></p>
        </div>
        <div class="image-area">
            <img class="office-setup" src="https://media.tigmo.com.au/app/uploads/2021/05/careers.jpg?strip=all&lossy=1&ssl=1" alt="Office Setup">
        </div>
    </section>
    <section class="footer-section">
        <div class="footer-content">Get in touch with us</div>
    </section>
</main>
</Layout>