---
import Layout from '../layouts/Layout.astro';
---
<Layout title="WordPress Web Developer Melbourne - Tigmo">
<header>
  <img src="https://media.tigmo.com.au/app/uploads/2021/01/tigmo-logo-white.png?strip=all&lossy=1&ssl=1" alt="Tigmo Logo" class="main-logo">
  <nav class="menu">
    <img src="https://media.tigmo.com.au/app/themes/tigmo-wp/images/menu.svg'" alt="Menu">
  </nav>
</header>

<section class="hero-section">
  <h1>WordPress Development Melbourne</h1>
  <h2>
    Tigmo collaborates with leading design agencies to produce functional, flawless digital solutions.
  </h2>
</section>

<section class="about-section">
  <img src="https://media.tigmo.com.au/app/uploads/2021/01/tigmo-logo-blue.png?strip=all&lossy=1&ssl=1" alt="Tigmo Logo" class="secondary-logo">
  <h3>We turn works of art into WordPress websites and enjoy helping companies leverage digital tools to get the most out of their online presence. Technology is our focus, we stay up to date with the latest so that you don’t have to.</h3>
  <p>
    Plain and simple, we don’t do design. We are a team of website developers who work with creative agencies to turn their design files into websites...
  </p>
  <div class="cta-buttons">
    <button>I'm a designer</button>
    <button>I'm a developer</button>
    <button>I'm a charity</button>
    <button>I'm a company</button>
  </div>
</section>

<section class="process-section">
  <h3>Our process</h3>
  <p>
    We work closely with our design partners to build a bespoke WordPress theme that meets the goals and aspirations of the businesses we work with. You won’t find anything off the shelf with us...
  </p>
  <div class="steps">
    <div class="step">
      <h4>Analysis</h4>
      <p>All successful projects start with a plan. We provide an in-depth analysis...</p>
    </div>
    <div class="step">
      <h4>Scoping</h4>
      <p>Once the designs are approved, we work through every inch of the design...</p>
    </div>
  </div>
</section>

<footer>
  <h3>Get in touch</h3>
  <p>
    We are a well-kept industry secret. If you'd like to learn more about how you can work with us, please fill in the form below.
  </p>
</footer>
</Layout>